<section class="w-full bg-[#fee7e7] py-14">
    <div class="w-11/12 lg:w-4/5 mx-auto lg:flex lg:justify-around lg:py-14 bg-white flex flex-wrap py-10">
        <div class="flex flex-col w-[40%] lg:w-1/5 my-4 lg:my-auto mx-auto items-center">
            <span>Pickup</span>
            <span class="my-3"><i class="fa-solid fa-location-dot mr-3"></i>Point Location</span>
        </div>
        <div class="flex flex-col w-[40%] lg:w-1/5 my-4 lg:my-auto mx-auto items-center">
            <span>Drop Off</span>
            <span class="my-3"><i class="fa-solid fa-location-dot mr-3"></i>Point Location</span>
        </div>
        <div class="flex flex-col w-[40%] lg:w-1/5 my-4 lg:my-auto mx-auto items-center">
            <span>Estimate TIme</span>
            <span class="my-3"><i class="fa-regular fa-clock mr-3"></i>Point Location</span>
        </div>
        <div class="flex flex-col w-[40%] lg:w-1/5 my-4 lg:my-auto mx-auto items-center">
            <span>Pricing</span>
            <span class="my-3">$ 0.00</span>
        </div>
        <div class="flex items-center lg:w-1/5 justify-around w-full">
            <a href="#" class="bg-[#f55757] px-6 py-3 text-white hover:bg-white hover:text-black border-2 hover:border-[#f55757]">Rent Now !</a>
        </div>
    </div>
</section>