---

---

<section>
    <div class="flex w-full lg:w-4/5 lg:mx-auto bg-[url('/img/banner.webp')] object-cover bg-no-repeat min-h-svh lg:bg-right bg-contain bg-bottom lg:bg-auto">
        <div class="flex flex-col pt-24 min-h-max lg:justify-center mx-3 lg:py-0">
            <span class="text-4xl my-3 font-semibold">We Have Prepared a Car For</span>
            <span class="text-4xl font-semibold">Your Trip</span>
            <span class="my-4 text-gray-400">We have many types of cars that are ready for you to travel</span>
            <span class="text-gray-400"> anywhere and anytime.</span>
            <div class="w-full flex  my-4 justify-center lg:justify-normal">
                <a href="#" class="bg-[#f55757] px-6 py-3 text-white hover:bg-white hover:text-black border-2 hover:border-[#f55757]">Get In Touch</a>
                <a href="#" class="text-[#f55757] py-3 px-6 border-2 border-[#f55757] mx-8 hover:bg-[#f55757] hover:text-white" >Our Car</a>
            </div>
        </div>
    </div>
</section>