---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/sections/Portada.astro';
import Busqueda from '../components/sections/Busqueda.astro';
import Marcas from '../components/sections/Marcas.astro';
---

<Layout title="ORENN">
	<main>
		<Portada/>
		<Busqueda/>
		<Marcas/>
	</main>
</Layout>
